* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #002339;
}

.password {
  margin: 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.password__heading {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
}

.password__heading--underline {
  text-decoration: underline;
  text-underline-offset: 15px;
  display: block;
  color: #019f55;
  font-size: 500;
}

.password__input {
  border: none;
  outline: none;
  padding: 1.5rem;
  width: 40rem;
  margin-top: 4rem;
  border-radius: 5px;
  caret-color: #019f55;
  font-size: 1.5rem;
}

.password__icon {
  position: absolute;
  cursor: pointer;
  top: 51%;
  left: 39.5%;
  font-size: 2rem;
  color: #019f55;
}

.password__button {
  display: block;
  border: none;
  background: none;
  background-color: #019f55;
  margin-top: 4rem;
  padding: 1.4rem 2.8rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.password__icon--btn {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.password__history {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.password__history--span {
  color: #019f55;
}

.two {
  background-color: #ffffff29;
  backdrop-filter: blur(15px);
  padding: 2rem;
}

.password__value {
  color: #fff;
  margin-top: 1rem;
  border-bottom: 1px solid #002339;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
